os: linux
language: python
env: MINICONDA="https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh" PYTHONVER="3.6"

install:
  - wget ${MINICONDA} -O miniconda.sh
  - bash miniconda.sh -b -p $HOME/miniconda
  - export PATH="$HOME/miniconda/bin:$PATH"
  - conda info -a
  - conda config --set always_yes yes --set changeps1 no
  - conda update -q conda
  - conda install conda-build anaconda-client numpy pytables git
  - conda config --add channels conda-forge
  - conda config --add channels pyiron
  - conda config --set anaconda_upload yes
  - conda install -y -c conda-forge -c pyiron pyiron sphinx nbsphinx

script:
  - cd .. 
  - git clone --recurse-submodules https://github.com/pyiron/MetaRepo.git
  - git clone git@github.com:pyiron/pyiron.github.io.git
  - cd MetaRepo
  - for d in $(ls -d pyiron*); do sphinx-apidoc -f -o ../pyiron_docs/apidoc $d/$d; done
  - cd pyiron_docs
  - sphinx-build -b html ./ pyiron.github.io
