matrix:
  include:
    - stage: test
      name: test_linux_3_7
      os: linux
      language: python
      env: MINICONDA="https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh" PYTHONVER="3.7"
      install:
        - export PATH="$HOME/miniconda/bin:$PATH"
        - ./.ci_support/travis_setup_pyiron.sh ${MINICONDA} ${PYTHONVER}
        - python .ci_support/pyironconfig.py
      script:
        - coverage run -m unittest discover tests
        - coverage combine
      after_success:
        - coveralls
        - coverage xml
        - python-codacy-coverage -r coverage.xml
      deploy:
        - provider: pypi
          user: pyiron
          password: ${PYPI_UPLOAD_TOKEN}
          allow_failure: true
          on:
            branch: master
        - provider: pypi
          user: pyiron
          password: ${PYPI_UPLOAD_TOKEN}
          allow_failure: true
          on:
            tags: true

    - name: notebook_linux_3_7
      os: linux
      language: python
      env: MINICONDA="https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh" PYTHONVER="3.7"
      install:
        - export PATH="$HOME/miniconda/bin:$PATH"
        - ./.ci_support/travis_setup_pyiron.sh ${MINICONDA} ${PYTHONVER}
        - ./.ci_support/travis_setup_notebooks.sh
      script:
        - ./.ci_support/travis_build_notebooks.sh || travis_terminate 1;

    - name: backwards_compatibility
      os: linux
      language: python
      env: MINICONDA="https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh" PYTHONVER="3.7"
      install:
        - export PATH="$HOME/miniconda/bin:$PATH"
        - ./.ci_support/travis_setup_pyiron.sh ${MINICONDA} ${PYTHONVER}
        - ./.ci_support/travis_setup_notebooks.sh
      script:
        - ./.ci_support/travis_test_backwards.sh || travis_terminate 1;

    - name: documentation
      if: branch = master
      os: linux
      language: python
      env: MINICONDA="https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh" PYTHONVER="3.7"
      install:
        - export PATH="$HOME/miniconda/bin:$PATH"
        - ./.ci_support/travis_setup_pyiron.sh ${MINICONDA} ${PYTHONVER}
        - python .ci_support/pyironconfig.py
      script:
        - ./.ci_support/travis_build_docs.sh || travis_terminate 1;
