environment:
  global:
    # SDK v7.0 MSVC Express 2008's SetEnv.cmd script will fail if the
    # /E:ON and /V:ON options are not enabled in the batch script intepreter
    # See: http://stackoverflow.com/a/13751649/163740
    CMD_IN_ENV: 'cmd /E:ON /V:ON /C .\tools\appveyor\run_with_env.cmd'
    PROJECT_NAME: pyiron

  matrix:
    - PYTHON_VERSION: 2.7
      CONDA: C:\Miniconda

    - PYTHON_VERSION: 3.7
      CONDA: C:\Miniconda37

version: '{build}'
image: Visual Studio 2015

# For testing only...
#skip_non_tags: true

platform:
- x64

init:
  - ps: if ($Env:PLATFORM -eq "x64") { $Env:CONDA = "${Env:CONDA}-x64" }
  - ps: Write-Host $Env:PYTHON_VERSION
  - ps: Write-Host $Env:CONDA
  - ps: Write-Host $Env:PLATFORM
  - ps: Write-Host $Env:APPVEYOR_REPO_TAG
  - ps: Write-Host $Env:APPVEYOR_REPO_TAG_NAME
  - ps: Write-Host $Env:APPVEYOR_REPO_NAME

install:
# Make sure the compiler is accessible
- '"%VS140COMNTOOLS%\..\..\VC\vcvarsall.bat" %PLATFORM%'

# Load the conda root environment, configure and install some packages
- '"%CONDA%\Scripts\activate.bat"'
- "conda config --set always_yes yes --set changeps1 no"
- "conda update -q conda"
- "conda install -c conda-forge python=%PYTHON_VERSION% ase=3.17 coveralls coverage defusedxml=0.5.0 dill=0.3.0 future=0.17.1 h5io=0.1.1 h5py=2.10.0 matplotlib=2.2.4 mendeleev=0.5.1 numpy=1.16.4 pandas=0.24.2 pathlib2=2.3.4 phonopy=2.3.2 psutil=5.6.3 pysqa=0.0.4 scipy=1.2.1 six=1.12.0 spglib=1.14.1 sqlalchemy=1.3.8 pytables=3.5.2 tqdm=4.35.0"
- "conda info -a"
- "pip install --pre ."

build: false

test_script:
  # Build the package
  - "python .ci_support/pyironconfig.py"
  - "cat C:/Users/appveyor/.pyiron"
  - "python -m unittest discover tests"
