variables:
  linux: 'ubuntu-latest'
  mac: 'macOS-latest'
  windows: 'windows-latest'

pr:
  branches:
    include:
      - '*'

jobs:
- job: 'Linux'
  pool:
    vmImage: $(linux)
  strategy:
    matrix:
      Python37:
        python.version: '3.7'
      Python38:
        python.version: '3.8'
      Python39:
        python.version: '3.9'
    maxParallel: 4

  steps:
  - bash: echo "##vso[task.prependpath]/usr/share/miniconda/bin"
    displayName: Add conda to PATH
  - template: .ci_support/azure-unix-test-template.yml

- job: 'OSX'
  pool:
    vmImage: $(mac)
  strategy:
    matrix:
      Python37:
        python.version: '3.7'
      Python38:
        python.version: '3.8'
      Python39:
        python.version: '3.9'
    maxParallel: 1

  steps:
  - bash: echo "##vso[task.prependpath]$CONDA/bin"
    displayName: Add conda to PATH
  - bash: sudo chown -R $USER $CONDA
    displayName: Take ownership of conda installation
  - template: .ci_support/azure-unix-test-template.yml
